header.header
    .haeder__column
        i.fab.fa-youtube
    .haeder__column
        ul    
            li
                a(href=routes.join) Join
            li
                a(href=routes.logIn) Log In