header.header
    .haeder__column
        i.fab.fa-youtube
    .haeder__column
        ul    
            li
                a(href="/join") Join
            li
                a(href="/login") Log In