doctype html
html
    head
        script(src="https://kit.fontawesome.com/851936c660.js")
        title | #{siteName}
    body    
        include ../partials/header
        main
            h1 #{siteName} 
            block content
        include ../partials/footer