doctype html
html
    head
        script(src="https://kit.fontawesome.com/851936c660.js")
        title weTube
    body    
        include ../partials/header
        main
            h1 weTube 
            block content
        include ../partials/footer